<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.zsh2401.activitytest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FirstActivity"
            android:label="This is FirstActivity"
            android:launchMode="singleTask">
            //launchMode是singleTop时,便不会再次启动已经在栈顶的活动
            //但如果该活动不在栈顶了,便会再新建一个活动
            //是singleTask时,简单来说,就是只要活动还在栈内,就直接调用
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".AboutActivity">
            <intent-filter>
                <action android:name="top.zsh2401.activitytest.ABOUT_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            >
        </activity>
        <activity android:name=".ViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DialogActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity android:name=".BlogWebViewActivity" />
        <activity android:name=".SingleInstanceActivity"
            android:launchMode="singleInstance">

        </activity>
    </application>

</manifest>